<<<<<<<<< Temporary merge branch 1
/* Styles for game-window.html */
.game-window {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../images/flames-vertical.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: justify;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(101, 71, 6, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(174, 133, 10, 0.3);
    max-width: 800px;
    width: 90%;
    z-index: 1000;
}
.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 24px;
}
.game-container {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.choices {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 20px auto;
    width: 100%;
    height: 120px;
    flex-wrap: nowrap;
    position: relative;
}
.choice-btn {
    position: relative;
    flex: 0 0 auto;
    width: 90px;
    height: 90px;
    padding: 15px;
    margin: 0;
    cursor: pointer;
    background-color: rgb(194, 189, 161);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choice-btn img {
    width: 65px;
    height: 45px;
    object-fit: contain;
}
.choice-btn:disabled {
    cursor: not-allowed;
    transition: opacity 0.3s ease;
}
#user-choice, #computer-choice {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.69);
    padding: 20px;
}
/* Added a miirrored effect to the user-choice images */
#user-choice, .controls {
    transform: scaleX(-1);
}
#difficulty-btn {
    margin-left: 10px;
    padding: 8px 15px;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#difficulty-btn:hover {
    background-color: rgb(0, 0, 0);
}

#difficulty-select {
    margin-left: 10px;
    padding: 8px 15px;
    background-color: rgb(246, 207, 15);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#difficulty-select:hover {
    background-color: rgb(245, 223, 44);
}

#difficulty-select option {
    background-color: #fff;
    color: #000;
}
=========
body    {
    background-color: hsl(0, 0%, 0%);
    color: white;
    line-height: 1.6;
    margin: 20px;
    padding: 5px;
}
h1 {
    color: hsl(0, 0%, 100%);
    font-size: 2em;
    margin: 10px 0;
    padding: 0;
}
h2 {
    color: hsl(0, 0%, 100%);
    font-size: 1.5em;
    margin: 40px 0 20px 0;
    padding: 0;
}
header  {
   
    margin-top: 30px;
    
}
>>>>>>>>> Temporary merge branch 2
